<table>
    <thead>
    <th><a href="/library">Books</a></th>
    <th><a href="/publisher">Publishers</a></th>
    <th><a href="/author">Authors</a></th>
    <th><a href="/genre">Genres</a></th>
    <th><a href="/user">Users</a></th>
    </thead>
</table>

<h1>List of Genres:</h1>
<h2>Add a Genre</h2>

<table>
    <thead> 
        <th>Genre</th> 
    </thead> 

    <tbody> 
        {{#each genre}} 
        <tr> 
            <td>{{name}}</td>
        </tr> 
        {{/each}} 
    </tbody> 

    <form id="addgenre" action="/genre" method="post">
    Genre Name: <input type="text" name="genrename"><br>
    <input type="submit" value="Submit">
    </form>
</table> 
